<app-nav-bar></app-nav-bar>

<body>

    <div class="container">
        <div class="texto">
            <h1>
                Your
                <span class="color">
                    life <br />
                    change <br> journey</span>, <br />
                now at <br />
                the reach <br />
                of your <span class="color">hand</span>. <br />
            </h1>
            <p>
                Welcome to a healthier lifestyle!
                Set your goals and create a plan. <br> Each day is a new
                opportunity. With our app, tracking your calories <br>
                is easy and motivating.
            </p>
        </div>

        <a [routerLink]="['/register']" routerLinkActive="router-link-active">
            <button class="comenzar">¡Start now!</button>
        </a>
    </div>
</body>