body {
    background-image: url('/src/assets/images/FONDO-LANDING.png');
    /* Ruta de la imagen */
    background-size: cover;
    /* Escala la imagen para cubrir toda la página */
    background-position: center;
    /* Centra la imagen */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    height: 100vh;
    /* Hace que el fondo cubra toda la altura visible de la página */
    margin: 0;
    padding: 0;
    position: relative;
    /* Establece un contexto de apilamiento para los elementos hijos */
}

.container {
    margin-left: 10%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    z-index: 2;
}

.texto h1 {
    font-size: 100px;
    margin-bottom: 10px;
    font-weight: 600;
}

.texto p {
    font-size: 20px;
    margin-top: 0;
}

.container button {
    height: 100px;
    width: 250px;
    background-color: #66BB6A;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 15px;
    font-size: 25px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin-left: 100px;
    margin-bottom: 5%;
    transition: background-color 0.5s, color 0.5s, transform 0.3s;
}

.container button:hover {
    background-color: white;
    border: 2px solid #66BB6A;
    color: #66BB6A;
    transform: scale(1.05);
}

.color {
    color: #66BB6A;
}