<app-nav-bar></app-nav-bar>



<div class="container">
    <div class="texto">
        <h1>
            Tu
            <span class="color">
                cambio <br />
                de vida</span>, <br />
            ahora al <br />
            alcance de <br />
            tu <span class="color">mano</span>. <br />
        </h1>
        <p>
            ¡Bienvenido a un estilo de vida más saludable! <br />
            Define tus metas y crea un plan. Cada día es una nueva <br />
            oportunidad. Con nuestra app, controlar tus calorías <br />
            es fácil y motivador.
        </p>
    </div>

    <a href="#PAGINA-REGISTRO">
        <button class="comenzar">¡Comienza ahora!</button>
    </a>
</div>