<app-nav-bar></app-nav-bar>

<div class="container">
    <div class="texto">
        <h1>
            Your
            <span class="color">
                life <br />
                change <br> journey</span>, <br />
            now at <br />
            the reach <br />
            of your <span class="color">hand</span>. <br />
        </h1>
        <p>
            ¡Bienvenido a un estilo de vida más saludable! <br />
            Define tus metas y crea un plan. Cada día es una nueva <br />
            oportunidad. Con nuestra app, controlar tus calorías <br />
            es fácil y motivador.
        </p>
    </div>

    <a [routerLink]="['/register']" routerLinkActive="router-link-active" >
        <button class="comenzar">¡Start now!</button>
    </a>
</div>



