food-container {
    width: 80%;
    margin: auto;
}

.btn-back{
    margin: auto;
    font-size: 17px;
    font-weight: 500;
    border-radius: 10px;
    background-color: #66BB6A;
    color: white;
    margin-bottom: 30px;
    width: 40px;
    border: none;
    padding: 10px 15px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-one-food{
    margin: auto;
    display: flex;
    flex-direction: column;
}