<app-nav-bar></app-nav-bar>

<div class="container">
    <div class="meals"><app-meal-list (mealIdEmmiter)="mealIdReciver($event)"
            (mealTypeEmmiter)="mealTypeReciver($event)" (addModeEmitter)="changeAddMode()"></app-meal-list></div>
    <div class="graph">Grafico torta componente fechas
    </div>
</div>

@if (addMode) {
    <div class="add-food-mode" (click)="changeAddMode()">
        <div class="container-add-food" (click)="changeAddMode()">
            <!-- Barra buscadora de comidas arriba -->
            <app-barra-buscadora-comidas (foodNameEmitter)="foodNameReciver($event)"></app-barra-buscadora-comidas>
    
            <!-- Contenedor para el botón y el input alineados a la izquierda -->
            <div class="add-controls">
                <input class="input-quantity" type="number" [(ngModel)]="foodQuantity" />
                <button class="btn-add" (click)="addFoodToMeal()">ADD</button>
            </div>
    
            <!-- Contenedor scrollable para la lista de comidas -->
            <div class="food-list">
                @for (f of arrayFoods; track $index) {
                    <app-food-container [foodRecived]="f" (foodClickEmitter)="foodReciver($event)"></app-food-container>
                }
            </div>
        </div>
    </div>
    }
    