.container {
    width: 500px;
    border-radius: 30px;
    border: 2px dashed black;
    padding: 10px;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.food-list {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.food-list.expanded {
    max-height: 500px;
}

.food-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

app-food-container {
    flex: 1;
    margin-right: 10px;
}

.btn-delete,
.btn-edit {
    flex: 0 0 auto;/* Evita que el botón crezca y se asegure que solo ocupe el espacio necesario */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1px 5px;
    cursor: pointer;
    margin: 5px;
}

.btn-delete {
    background-color: red;
}

.btn-delete:hover {
    background-color: darkred;
}

.btn-edit {
    background-color: green;
}

.btn-edit:hover {
    background-color: darkgreen;
}

.fa-times {
    font-size: 18px;
}

.fa-pencil-alt {
    font-size: 13px;
}

.chevron-button {
    border: none;
    background-color: white;
    color: #66BB6A;
    font-size: 25px;
    transition: transform 0.3s ease;
    margin-right: 10px;
}

.chevron-button.rotate {
    transform: rotate(180deg);
}

.add-button {
    border: none;
    background-color: white;
    color: #66BB6A;
    font-size: 27px;
    margin-left: 10px;
}

.totalCalories{
    background-color: #66BB6A;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: 500;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2), 0px 2px 4px rgba(0, 0, 0, 0.1);
}