<header class="header">
  <ul>
    <!-- <li><img src="/public/LOGO.png" class="icono-principal" /></li> ESTE SERIA MI LOGO-->
    <li *ngIf="!isLoggedIn"><a (click)="navigateToHome()">Home</a></li>
    <button class="btn-nutriTrack" *ngIf="isLoggedIn" (click)="navigateToNutriTrack()"><span class="text">My Nutri Track</span></button>
    <li><a href="http://localhost:4200/alimentos">Food</a></li>
    <li *ngIf="isLoggedIn"><a href="http://localhost:4200/recetas">Recepies</a></li>
    <li *ngIf="isLoggedIn"><a class="nav-item" (click)="navigateToUserProfile()">Profile</a></li>
    <li *ngIf="isLoggedIn"><a class="nav-item" (click)="logout()">Logout</a></li>
    <li *ngIf="!isLoggedIn"><a class="nav-item" (click)="login()">Sign In</a></li>
    <li *ngIf="!isLoggedIn"><button class="btn-empezar" (click)="navigateToRegister()">Register</button></li>
  </ul>
</header>