.header {
    width: 100%;
    height: 80px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.header ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    list-style-type: none;
    height: 100%;
    transition: .1s;
}

.header li:hover {
    color: #66BB6A;
}

.header li:last-child {
    margin-right: 5%;
    border: none;
}

.btn-empezar {
    padding: 10px;
    color: white;
    background-color: #66BB6A;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    border-radius: 8px;
    height: 55px;
    width: 165px;
    margin: 15px;
    transition: background-color 0.5s, color 0.5s, transform 0.3s;
    position: relative;
    z-index: 2;
}

.btn-empezar:hover {
    background-color: white;
    border: 2px solid #66BB6A;
    color: #66BB6A;
    transform: scale(1.05);
}

.header a {
    margin-right: 15px;
    cursor: pointer;
    transition: .3s;
    text-decoration: none;
    color: black;
}

.header a:hover {
    color: #66BB6A;
}

.btn-nutriTrack {
    margin-left: 40px;
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2), 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 50px;
    position: relative;
    font-size: 30px;
    font-weight: 500;
    height: 52px;
    border-radius: 10px;
    padding: 0 16px;
    background-image: linear-gradient(155deg, #393540, #27232f);
    transition: .5s;
}

.btn-nutriTrack span {
    animation-name: shine;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-image: linear-gradient(to right, #66BB6A 20%, #ff78fa 40%, #ff78fa 60%, #66BB6A 80%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 200%;
    background-position: 0%;
}

.fa-user-circle{
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes shine {
    from {
        background-position: 0%;
    }
    to {
        background-position: 200%;
    }
}
/* Estilos para el menú desplegable de la cuenta */
.account-menu {
    display: none; /* Oculta el menú por defecto */
    position: absolute; /* Asegúrate de que el menú esté posicionado correctamente */
    background-color: white; /* Fondo del menú */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    z-index: 100; /* Asegúrate de que esté por encima de otros elementos */
}

.account-menu ul {
    padding: 0;
    margin: 0;
}

.account-menu li {
    list-style: none; /* Sin viñetas */
    padding: 10px; /* Espaciado interno */
}

.account-menu li a {
    color: black; /* Color de texto */
    text-decoration: none; /* Sin subrayado */
    display: block; /* Asegúrate de que toda el área sea clickeable */
}

.account-menu li a:hover {
    background-color: #f0f0f0; /* Color al pasar el mouse */
}
