.header {
    width: 100%;
    height: 80px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.header ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    list-style-type: none;
    height: 100%;
    border-bottom: 4px solid transparent;
    transition: .3s;
}

.header li:hover {
    border: none;
    color: #66BB6A;
    border-bottom: 4px solid #66BB6A;
}

.header li:last-child {
    margin-right: 5%;
    border: none;
}

.icono-principal {
    height: 250PX;
    margin-right: auto;
    margin-left: 100px;
}

.btn-empezar {
    padding: 10px;
    color: white;
    background-color: #66BB6A;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    border-radius: 8px;
    height: 55px;
    width: 165px;
    margin: 15px;
    transition: background-color 0.5s, color 0.5s, transform 0.3s;
    /* Transiciones ajustadas */
    position: relative;
    /* Añadido para contexto de apilamiento */
    z-index: 2;
    /* Asegura que el botón esté por encima de la imagen */
}

.btn-empezar:hover {
    background-color: white;
    border: 2px solid #66BB6A;
    color: #66BB6A;
    transform: scale(1.05);
    /* Aumento sutil del tamaño */
}

.header a {
    margin-right: 15px;
    cursor: pointer;
    transition: .3s;
    text-decoration: none;
    color: black;
}

.header a:hover {
    color: #66BB6A;
}