<header class="header">
    <ul>
      <!-- <li><img src="/public/LOGO.png" class="icono-principal" /></li> ESTE SERIA MI LOGO-->
      <li><a href="http://localhost:4200/inicio">Inicio</a></li>
      <li><a href="http://localhost:4200/alimentos">Alimentos</a></li>
      <li><a href="http://localhost:4200/recetas">Recetas</a></li>
      <li><a href="http://localhost:4200/registros">Registros</a></li>
      <li>Iniciar sesión</li>
      <li><button class="btn-empezar">Empezar Ahora</button></li>
    </ul>
  </header>