.header {
    width: 100%;
    height: 80px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.header ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    list-style-type: none;
    height: 100%;
    transition: .1s;
}

.header li:hover {
    color: #66BB6A;
}

.header li:last-child {
    margin-right: 5%;
    border: none;
}

.icono-principal {
    height: 250PX;
    margin-right: auto;
    margin-left: 100px;
}

.btn-empezar {
    padding: 10px;
    color: white;
    background-color: #66BB6A;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    border-radius: 8px;
    height: 55px;
    width: 165px;
    margin: 15px;
    transition: background-color 0.5s, color 0.5s, transform 0.3s;
    position: relative;
    z-index: 2;
}

.btn-empezar:hover {
    background-color: white;
    border: 2px solid #66BB6A;
    color: #66BB6A;
    transform: scale(1.05);
}

.header a {
    margin-right: 15px;
    cursor: pointer;
    transition: .3s;
    text-decoration: none;
    color: black;
}

.header a:hover {
    color: #66BB6A;
}


.btn-nutriTrack {
    margin-right: 50px;
    position: relative;
    font-size: 30px;
    font-weight: 500;
    height: 52px;
    border-radius: 10px;
    padding: 0 16px;
    background-image: linear-gradient(155deg, #393540, #27232f);
    transition: .5s;

    & span {
        animation-name: shine;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        background-image: linear-gradient(to right, #ff78fa 20%, #66BB6A 40%, #ffb36c 60%, #ff78fa 80%);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        background-size: 200%;
        background-position: 0%;
    }
}

@keyframes shine{
    from{
        background-position: 0%;
    }
    to{
        background-position: 200%;
    }
}

button:hover{
    transform: scale(1.1);
}