<div class="container">
    <div class="mealType">
        <label for="">Breakfast</label>
        <app-meal-card [arrayFood]="arrayBreakfast" (deleteEmmiter)="deleteFoodFromMeal($event)" [mealType]="'breakfast'"
            (mealTypeEmitter)="reciveMealType($event)"> </app-meal-card>
    </div>

    <div class="mealType">
        <label for="">Lunch</label>
        <app-meal-card [arrayFood]="arrayLunch" (deleteEmmiter)="deleteFoodFromMeal($event)" [mealType]="'lunch'"
            (mealTypeEmitter)="reciveMealType($event)"></app-meal-card>
    </div>

    <div class="mealType">
        <label for="">Snack</label>
        <app-meal-card [arrayFood]="arraySnack" (deleteEmmiter)="deleteFoodFromMeal($event)" [mealType]="'snack'"
            (mealTypeEmitter)="reciveMealType($event)"></app-meal-card>
    </div>

    <div class="mealType">
        <label for="">Dinner</label>
        <app-meal-card [arrayFood]="arrayDinner" (deleteEmmiter)="deleteFoodFromMeal($event)" [mealType]="'dinner'"
            (mealTypeEmitter)="reciveMealType($event)"></app-meal-card>
    </div>
</div>