<div class="comidas">
    <div class="comida-item" (click)="emitFoodType('fruits')">
        <img src="https://img.icons8.com/color/96/group-of-fruits.png" alt="group-of-fruits" />
        <p>Fruits</p>
    </div>

    <div class="comida-item" (click)="emitFoodType('vegetables')">
        <img src="https://img.icons8.com/fluency/96/group-of-vegetables.png" alt="group-of-vegetables" />
        <p>Vegetables </p>
    </div>

    <div class="comida-item" (click)="emitFoodType('grains')">
        <img src="https://img.icons8.com/external-icongeek26-flat-icongeek26/64/external-grains-agriculture-icongeek26-flat-icongeek26.png"
            alt="external-grains-agriculture-icongeek26-flat-icongeek26" />
        <p>Grains</p>
    </div>

    <div class="comida-item" (click)="emitFoodType('proteins')">
        <img src="https://img.icons8.com/fluency/96/steak-medium.png" alt="steak-medium" />
        <p>Proteins</p>
    </div>

    <div class="comida-item" (click)="emitFoodType('dairy')">
        <img src="https://img.icons8.com/color/96/milk-bottle.png" alt="milk-bottle" />
        <p>Dairy</p>
    </div>

    <div class="comida-item" (click)="emitFoodType('fatsAndOils')">
        <img src="https://img.icons8.com/color/96/olive-oil.png" alt="olive-oil" />
        <p>Fats and Oils</p>
    </div>

    <div class="comida-item" (click)="emitFoodType('sweetsAndDesserts')">
        <img src="https://img.icons8.com/color/96/dessert.png" alt="dessert" />
        <p>Sweets and Desserts</p>
    </div>

    <div class="comida-item" (click)="emitFoodType('beverages')">
        <img src="https://img.icons8.com/color-glass/48/soda-can.png" alt="soda-can" />
        <p>Beverages</p>
    </div>

    <div class="comida-item" (click)="emitFoodType('snacks')">
        <img src="https://img.icons8.com/color-glass/48/potato-chips.png" alt="potato-chips" />
        <p>Snacks</p>
    </div>

    <div class="comida-item" (click)="emitFoodType('seafood')">
        <img src="https://img.icons8.com/color-glass/96/fish-skeleton.png" alt="fish-skeleton" />
        <p>Seafood</p>
    </div>

    <div class="comida-item" (click)="emitFoodType('legumes')">
        <img src="https://img.icons8.com/color-glass/96/white-beans.png" alt="white-beans" />
        <p>Legumes</p>
    </div>

    <div class="comida-item" (click)="emitFoodType('nutsAndSeeds')">
        <img src="https://img.icons8.com/color-glass/96/ceshew.png" alt="ceshew" />
        <p>Nuts and Seeds</p>
    </div>
</div>