.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D3D3D3;
    transition: .3s;
    cursor: pointer;
}


.name {
    display: flex;
    font-size: 18px;
    font-weight: 500;
}

.greyColor {
    font-size: 15px;
    color: #6c757d;
    font-weight: 500;
}

.calories {
    font-size: 18px;
    font-weight: 500;
}

img {
    height: 50px;
    width: 50px;
    margin-right: 20px;
}

.highlighted {
    border: 2px solid #66BB6A;
}