<div class="container" (click)="emitFoodClick()" [ngClass]="{'highlighted': isHighlighted}" (click)="toggleHighlight()">
    @if(flag){
    <div class="info">
        <div class="name">
            <p class="name">{{foodRecived.name}}</p>
            <p class="calories"><br>{{foodRecived.caloriesPerGram * foodRecived.gramQuantity}} kcal</p>
        </div>
        <p class="grams"><span class="colorGrey">{{foodRecived.gramQuantity}} gr.</span></p>
    </div>
    }@else {
    <div class="name">
        <ng-container [ngSwitch]="foodRecived.foodType">
            <img *ngSwitchCase="'fruits'" src="https://img.icons8.com/color/96/group-of-fruits.png" alt="fruits">
            <img *ngSwitchCase="'vegetables'" src="https://img.icons8.com/fluency/96/group-of-vegetables.png"
                alt="vegetables">
            <img *ngSwitchCase="'grains'" src="https://img.icons8.com/fluency/96/group-of-vegetables.png" alt="grains">
            <img *ngSwitchCase="'proteins'" src="https://img.icons8.com/fluency/96/steak-medium.png" alt="proteins">
            <img *ngSwitchCase="'dairy'" src="https://img.icons8.com/color/96/milk-bottle.png" alt="dairy">
            <img *ngSwitchCase="'fatsAndOils'" src="https://img.icons8.com/color/96/olive-oil.png" alt="fatsAndOils">
            <img *ngSwitchCase="'sweetsAndDesserts'" src="https://img.icons8.com/color/96/dessert.png"
                alt="sweetsAndDesserts">
            <img *ngSwitchCase="'beverages'" src="https://img.icons8.com/color-glass/48/soda-can.png" alt="beverages">
            <img *ngSwitchCase="'snacks'" src="https://img.icons8.com/color-glass/48/potato-chips.png" alt="snacks">
            <img *ngSwitchCase="'seafood'" src="https://img.icons8.com/color-glass/96/fish-skeleton.png" alt="seafood">
            <img *ngSwitchCase="'legumes'" src="https://img.icons8.com/color-glass/96/white-beans.png" alt="legumes">
            <img *ngSwitchCase="'nutsAndSeeds'" src="https://img.icons8.com/color-glass/96/ceshew.png"
                alt="nutsAndSeeds">
        </ng-container>
        <p>{{foodRecived.name}} <br> <span class="greyColor">{{foodRecived.foodType}}</span> </p>
    </div>
    <div class="info">
        <p class="calories">{{foodRecived.caloriesPerGram * 100 | number:'1.2-2'}} kcal</p>
        <p>100gr</p>
    </div>
    }
</div>